<!DOCTYPE html>
<html>
  <head>
    <title>KurashiLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>



<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">

  <div class="container">

    <%= link_to "暮らしの棚卸し", root_path, class: "navbar-brand fw-bold" %>
    <!-- ここ重要 -->
    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="navbar-nav ms-auto">

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "マイページ", mypage_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
          </li>
                   <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "カテゴリ管理",
                    categories_path,
                    class: "nav-link text-danger" %>
            </li>
            <% end %>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

      </ul>

    </div>
        <li class="nav-item me-3">
  <%= form_with url: posts_path,
        method: :get,
        local: true,
        class: "d-flex" do |f| %>

    <%= f.text_field :q,
          value: params[:q],
          placeholder: "タイトル・メモ・カテゴリ検索",
          class: "form-control form-control-sm rounded-pill",
          style: "width: 220px;" %>
      <% end %>
    </li>

  </div>
</nav>


  <!-- ===== ページ本体 ===== -->
  <%= yield %>

</body>

</html>
