<!DOCTYPE html>
<html>
  <head>
    <title>KurashiLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">

  <div class="container">

    <%= link_to "暮らしの棚卸し", root_path, class: "navbar-brand fw-bold" %>

    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="navbar-nav ml-auto">

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "マイページ", mypage_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-danger" href="#" id="adminMenu" role="button"
                 data-toggle="dropdown" aria-expanded="false">管理</a>
              <div class="dropdown-menu" aria-labelledby="adminMenu">
                <%= link_to "ユーザー管理", admin_users_path, class: "dropdown-item" %>
                <%= link_to "コメント管理", admin_comments_path, class: "dropdown-item" %>
                <%= link_to "カテゴリ管理", categories_path, class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, class: "nav-link", method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

      </ul>

    </div>

    <% if user_signed_in? %>
      <div class="ml-2">
        <%= form_with url: user_search_path,
              method: :get,
              local: true,
              class: "d-flex" do |f| %>
          <%= f.text_field :q,
                value: params[:q],
                placeholder: "ユーザー・投稿を検索",
                class: "form-control form-control-sm rounded-pill",
                style: "width: 200px;" %>
        <% end %>
      </div>
    <% end %>

  </div>
</nav>

  <%= yield %>

</body>

</html>